html{
  scroll-behavior:smooth;
}

body {
  width: 360px;
  margin: auto;
  font-family: Montserrat, sans-serif;
}

img {
    width: 100%;
}

input[type="text"],
input[type="text"]:focus {
  border: 2px solid #F67779;
  height: 32px;
  font-size: 16px;
  background: #FDF4CB;
  border-radius: 20px;
  padding: 0 0 0 8px;
}